@import url('https://fonts.cdnfonts.com/css/sansation?styles=169710');
@import url('https://fonts.cdnfonts.com/css/sansation?styles=169708,755');



.guidedBreathingImg {
    max-height: 75px;
    max-width: 75px;
    margin-left: 20px;
    margin-right: 25px;
}