@import url('https://fonts.cdnfonts.com/css/sansation?styles=169710');

.meditatePage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  /* Set the height to the full viewport height */
  overflow: hidden;
  /* Hide any content that overflows the viewport */
}

.backImage {
  position: absolute;
  top: 10px;
  left: 10px;
}

.meditateImage {
  margin-top: 20px;
  animation: swing 10s infinite;
}

@keyframes swing {
  20% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  60% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.message-icon {
  margin-top: 10px;
  margin-left: 20px;
  width: 76px;
  height: 74px
}

.parenttimerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.timerContainer {
  font-family: 'Sansation', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #E6FAF0 0%, #91E8BC 50%, #E6FAF0 100%);
  width: 886px;
  height: 120px;
  margin-top: 15px;
  font-size: 39px;
}

.controlsContainer {
  display: flex;
  justify-content: center;

  gap: 20px;
}

/* styles.css */
.button {
  font-family: 'Sansation', sans-serif;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  transition: background-color 0.4s, color 0.4s, transform 0.4s;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.button:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.button:disabled {
  background-color: #dddddd;
  color: #666666;
  cursor: not-allowed;
}

.button.start {
  background-color: #b19cd9;
  /* Lavender */
}

.button.start:hover {
  background-color: #d7bde2;
  /* Lighter Lavender */
  color: #ffffff;
}

.button.stop {
  background-color: #ffb6c1;
  /* Light Pink */
}

.button.stop:hover {
  background-color: #ffcdd2;
  /* Lighter Pink */
  color: #ffffff;
}

.button.reset {
  background-color: #add8e6;
  /* Light Blue */
  color: black;
}

.button.reset:hover {
  background-color: #b2ebf2;
  /* Lighter Blue */
  color: #000000;
}