@import url('https://fonts.cdnfonts.com/css/sansation?styles=169710');

.meditateImage {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  animation: swing 60s infinite;
}

@keyframes swing {
  20% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  60% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.message-icon {
  margin-top: 20px;
  margin-left: 20px;
  width: 76px;
  height: 74px
}

.parenttimerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timerContainer {
  font-family: 'Sansation', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #E6FAF0 0%, #91E8BC 50%, #E6FAF0 100%);
  width: 886px;
  height: 169px;
  margin-top: 70px;
  font-size: 39px;
}